div.mxRubberband {
	position: absolute;
	overflow: hidden;
	border-style: solid;
	border-width: 1px;
	border-color: #0000FF;
	background: #0077FF;
}
.mxCellEditor {
	background: url(data:image/gif;base64,R0lGODlhMAAwAIAAAP///wAAACH5BAEAAAAALAAAAAAwADAAAAIxhI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8egpAAA7);
	
	border-color: transparent;
	border-style: solid;
	display: inline-block;
	position: absolute;
	overflow: visible;
	word-wrap: normal;
	border-width: 0;
	min-width: 1px;
	resize: none;
	padding: 0px;
	margin: 0px;
}
.mxPlainTextEditor * {
	padding: 0px;
	margin: 0px;
}
div.mxWindow {
	-webkit-box-shadow: 3px 3px 12px #C0C0C0;
	-moz-box-shadow: 3px 3px 12px #C0C0C0;
	box-shadow: 3px 3px 12px #C0C0C0;
	background: url(data:image/gif;base64,R0lGODlhGgAUAIAAAOzs7PDw8CH5BAAAAAAALAAAAAAaABQAAAIijI+py70Ao5y02lud3lzhD4ZUR5aPiKajyZbqq7YyB9dhAQA7);
	
	border:1px solid #c3c3c3;
	position: absolute;
	overflow: hidden;
	z-index: 1;
}
table.mxWindow {
	border-collapse: collapse;
	table-layout: fixed;
  	font-family: Arial;
	font-size: 8pt;
}
td.mxWindowTitle {
	background: url(data:image/gif;base64,R0lGODlhFwAXAMQAANfX18rKyuHh4c7OzsDAwMHBwc/Pz+Li4uTk5NHR0dvb2+jo6O/v79/f3/n5+dnZ2dbW1uPj44yMjNPT0+Dg4N3d3ebm5szMzAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAAXABcAAAWQICESxWiW5Ck6bOu+MMvMdG3f86LvfO/rlqBwSCwaj8ikUohoOp/QaDNCrVqvWKpgezhsv+AwmEIum89ocmPNbrvf64p8Tq/b5Yq8fs/v5x+AgYKDhIAAh4iJiouHEI6PkJGSjhOVlpeYmZUJnJ2en6CcBqMDpaanqKgXq6ytrq+rAbKztLW2shK5uru8vbkhADs=)  repeat-x;
	
	text-overflow: ellipsis;
	white-space: nowrap;
 	text-align: center;
 	font-weight: bold;
 	overflow: hidden;
	height: 13px;
	padding: 2px;
 	padding-top: 4px;
 	padding-bottom: 6px;
 	color: black;
}
td.mxWindowPane {
	vertical-align: top;
	padding: 0px;
}
div.mxWindowPane {
	overflow: hidden;
	position: relative;
}
td.mxWindowPane td {
  	font-family: Arial;
	font-size: 8pt;
}
td.mxWindowPane input, td.mxWindowPane select, td.mxWindowPane textarea, td.mxWindowPane radio {
  	border-color: #8C8C8C;
  	border-style: solid;
  	border-width: 1px;
  	font-family: Arial;
	font-size: 8pt;
 	padding: 1px;
}
td.mxWindowPane button {
	background: url(data:image/gif;base64,R0lGODlhCgATALMAAP7+/t7e3vj4+Ojo6OXl5e/v7/n5+fb29vPz8/39/e3t7fHx8e7u7v///wAAAAAAACH5BAAAAAAALAAAAAAKABMAAAQ2MMlJhb0Y6c2X/2AhjiRjnqiirizqMkEsz0Rt30Ou7y8K/ouDcEg0GI9IgHLJbDif0Kh06owAADs=) repeat-x;
	
  	font-family: Arial;
  	font-size: 8pt;
  	padding: 2px;
	float: left;
}
img.mxToolbarItem {
	margin-right: 6px;
	margin-bottom: 6px;
	border-width: 1px;
}
select.mxToolbarCombo {
	vertical-align: top;
	border-style: inset;
	border-width: 2px;
}
div.mxToolbarComboContainer {
	padding: 2px;
}
img.mxToolbarMode {
	margin: 2px;
	margin-right: 4px;
	margin-bottom: 4px;
	border-width: 0px;
}
img.mxToolbarModeSelected {
	margin: 0px;
	margin-right: 2px;
	margin-bottom: 2px;
	border-width: 2px;
	border-style: inset;
}
div.mxTooltip {
	-webkit-box-shadow: 3px 3px 12px #C0C0C0;
	-moz-box-shadow: 3px 3px 12px #C0C0C0;
	box-shadow: 3px 3px 12px #C0C0C0;
	background: #FFFFCC;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	font-family: Arial;
	font-size: 8pt;
	position: absolute;
	cursor: default;
	padding: 4px;
	color: black;
}
div.mxPopupMenu {
	-webkit-box-shadow: 3px 3px 12px #C0C0C0;
	-moz-box-shadow: 3px 3px 12px #C0C0C0;
	box-shadow: 3px 3px 12px #C0C0C0;
	background: url(data:image/gif;base64,R0lGODlhGgAUAIAAAOzs7PDw8CH5BAAAAAAALAAAAAAaABQAAAIijI+py70Ao5y02lud3lzhD4ZUR5aPiKajyZbqq7YyB9dhAQA7);
	
	position: absolute;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
table.mxPopupMenu {
	border-collapse: collapse;
	margin-top: 1px;
	margin-bottom: 1px;
}
tr.mxPopupMenuItem {
	color: black;
	cursor: pointer;
}
tr.mxPopupMenuItemHover {
	background-color: #000066;
	color: #FFFFFF;
	cursor: pointer;
}
td.mxPopupMenuItem {
	padding: 2px 30px 2px 10px;
	white-space: nowrap;
	font-family: Arial;
	font-size: 8pt;
}
td.mxPopupMenuIcon {
	background-color: #D0D0D0;
	padding: 2px 4px 2px 4px;
}
.mxDisabled {
	opacity: 0.2 !important;
	cursor:default !important;
}

* {
	--method-get: #ab7aff;
	  --method-post: #9ed06c;
	  --method-put: #e17611;
	  --method-delete: #d02141;
	  --method-patch: #fcca25;
	  --method-options: #2bc2f0;
	  --method-head: #267aba;
  }
  /* jsTree default theme */
  .jstree-node,
  .jstree-children,
  .jstree-container-ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
  }
  .jstree-node {
	white-space: nowrap;
  }
  .jstree-anchor {
	display: inline-block;
	color: black;
	white-space: nowrap;
	padding: 0 4px 0 1px;
	margin: 0;
	vertical-align: top;
  }
  .jstree-anchor:focus {
	outline: 0;
  }
  .jstree-anchor,
  .jstree-anchor:link,
  .jstree-anchor:visited,
  .jstree-anchor:hover,
  .jstree-anchor:active {
	text-decoration: none;
	color: inherit;
  }
  .jstree-icon {
	display: inline-block;
	text-decoration: none;
	margin: 0;
	padding: 0;
	vertical-align: top;
	text-align: center;
  }
  .jstree-icon:empty {
	display: inline-block;
	text-decoration: none;
	margin: 0;
	padding: 0;
	vertical-align: top;
	text-align: center;
  }
  .jstree-ocl {
	cursor: pointer;
  }
  .jstree-leaf > .jstree-ocl {
	cursor: default;
  }
  .jstree .jstree-open > .jstree-children {
	display: block;
  }
  .jstree .jstree-closed > .jstree-children,
  .jstree .jstree-leaf > .jstree-children {
	display: none;
  }
  .jstree-anchor > .jstree-themeicon {
	margin-right: 2px;
  }
  .jstree-no-icons .jstree-themeicon,
  .jstree-anchor > .jstree-themeicon-hidden {
	display: none;
  }
  .jstree-hidden,
  .jstree-node.jstree-hidden {
	display: none;
  }
  .jstree-rtl .jstree-anchor {
	padding: 0 1px 0 4px;
  }
  .jstree-rtl .jstree-anchor > .jstree-themeicon {
	margin-left: 2px;
	margin-right: 0;
  }
  .jstree-rtl .jstree-node {
	margin-left: 0;
  }
  .jstree-rtl .jstree-container-ul > .jstree-node {
	margin-right: 0;
  }
  .jstree-wholerow-ul {
	position: relative;
	display: inline-block;
	min-width: 100%;
  }
  .jstree-wholerow-ul .jstree-leaf > .jstree-ocl {
	cursor: pointer;
  }
  .jstree-wholerow-ul .jstree-anchor,
  .jstree-wholerow-ul .jstree-icon {
	position: relative;
  }
  .jstree-wholerow-ul .jstree-wholerow {
	width: 100%;
	cursor: pointer;
	position: absolute;
	left: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  .jstree-contextmenu .jstree-anchor {
	-webkit-user-select: none;
	/* disable selection/Copy of UIWebView */
	-webkit-touch-callout: none;
	/* disable the IOS popup when long-press on a link */
	user-select: none;
  }
  .vakata-context {
	display: none;
	z-index: 999 !important;
  }
  .vakata-context,
  .vakata-context ul {
	margin: 0;
	padding: 2px;
	position: absolute;
	background: #f5f5f5;
	border: 1px solid #979797;
	box-shadow: 2px 2px 2px #999999;
  }
  .vakata-context ul {
	list-style: none;
	left: 100%;
	margin-top: -2.7em;
	margin-left: -4px;
  }
  .vakata-context .vakata-context-right ul {
	left: auto;
	right: 100%;
	margin-left: auto;
	margin-right: -4px;
  }
  .vakata-context li {
	list-style: none;
  }
  .vakata-context li > a {
	display: block;
	padding: 0 2em 0 2em;
	text-decoration: none;
	width: auto;
	color: black;
	white-space: nowrap;
	line-height: 2.4em;
	text-shadow: 1px 1px 0 white;
	border-radius: 1px;
  }
  .vakata-context li > a:hover {
	position: relative;
	background-color: #e8eff7;
	box-shadow: 0 0 2px #0a6aa1;
  }
  .vakata-context li > a.vakata-context-parent {
	background-image: url("data:image/gif;base64,R0lGODlhCwAHAIAAACgoKP///yH5BAEAAAEALAAAAAALAAcAAAIORI4JlrqN1oMSnmmZDQUAOw==");
	background-position: right center;
	background-repeat: no-repeat;
  }
  .vakata-context li > a:focus {
	outline: 0;
  }
  .vakata-context .vakata-context-no-icons {
	margin-left: 0;
  }
  .vakata-context .vakata-context-hover > a {
	position: relative;
	background-color: #e8eff7;
	box-shadow: 0 0 2px #0a6aa1;
  }
  .vakata-context .vakata-context-separator > a,
  .vakata-context .vakata-context-separator > a:hover {
	background: white;
	border: 0;
	border-top: 1px solid #e2e3e3;
	height: 1px;
	min-height: 1px;
	max-height: 1px;
	padding: 0;
	margin: 0 0 0 2.4em;
	border-left: 1px solid #e0e0e0;
	text-shadow: 0 0 0 transparent;
	box-shadow: 0 0 0 transparent;
	border-radius: 0;
  }
  .vakata-context .vakata-contextmenu-disabled a,
  .vakata-context .vakata-contextmenu-disabled a:hover {
	color: silver;
	background-color: transparent;
	border: 0;
	box-shadow: 0 0 0;
  }
  .vakata-context .vakata-contextmenu-disabled > a > i {
	filter: grayscale(100%);
  }
  .vakata-context li > a > i {
	text-decoration: none;
	display: inline-block;
	width: 2.4em;
	height: 2.4em;
	background: transparent;
	margin: 0 0 0 -2em;
	vertical-align: top;
	text-align: center;
	line-height: 2.4em;
  }
  .vakata-context li > a > i:empty {
	width: 2.4em;
	line-height: 2.4em;
  }
  .vakata-context li > a .vakata-contextmenu-sep {
	display: inline-block;
	width: 1px;
	height: 2.4em;
	background: white;
	margin: 0 0.5em 0 0;
	border-left: 1px solid #e2e3e3;
  }
  .vakata-context .vakata-contextmenu-shortcut {
	font-size: 0.8em;
	color: silver;
	opacity: 0.5;
	display: none;
  }
  .vakata-context-rtl ul {
	left: auto;
	right: 100%;
	margin-left: auto;
	margin-right: -4px;
  }
  .vakata-context-rtl li > a.vakata-context-parent {
	background-image: url("data:image/gif;base64,R0lGODlhCwAHAIAAACgoKP///yH5BAEAAAEALAAAAAALAAcAAAINjI+AC7rWHIsPtmoxLAA7");
	background-position: left center;
	background-repeat: no-repeat;
  }
  .vakata-context-rtl .vakata-context-separator > a {
	margin: 0 2.4em 0 0;
	border-left: 0;
	border-right: 1px solid #e2e3e3;
  }
  .vakata-context-rtl .vakata-context-left ul {
	right: auto;
	left: 100%;
	margin-left: -4px;
	margin-right: auto;
  }
  .vakata-context-rtl li > a > i {
	margin: 0 -2em 0 0;
  }
  .vakata-context-rtl li > a .vakata-contextmenu-sep {
	margin: 0 0 0 0.5em;
	border-left-color: white;
	background: #e2e3e3;
  }
  #jstree-marker {
	position: absolute;
	top: 0;
	left: 0;
	margin: -5px 0 0 0;
	padding: 0;
	border-right: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
  }
  #jstree-dnd {
	line-height: 16px;
	margin: 0;
	padding: 4px;
  }
  #jstree-dnd .jstree-icon,
  #jstree-dnd .jstree-copy {
	display: inline-block;
	text-decoration: none;
	margin: 0 2px 0 0;
	padding: 0;
	width: 16px;
	height: 16px;
  }
  #jstree-dnd .jstree-ok {
	background: green;
  }
  #jstree-dnd .jstree-er {
	background: red;
  }
  #jstree-dnd .jstree-copy {
	margin: 0 2px 0 2px;
  }
  .jstree-default .jstree-node,
  .jstree-default .jstree-icon {
	background-repeat: no-repeat;
	background-color: transparent;
  }
  .jstree-default .jstree-anchor,
  .jstree-default .jstree-animated,
  .jstree-default .jstree-wholerow {
	transition: background-color 0.15s, box-shadow 0.15s;
  }
  .jstree-default .jstree-hovered {
	background: #e7f4f9;
	border-radius: 2px;
	box-shadow: inset 0 0 1px #cccccc;
  }
  .jstree-default .jstree-context {
	background: #e7f4f9;
	border-radius: 2px;
	box-shadow: inset 0 0 1px #cccccc;
  }
  .jstree-default .jstree-clicked {
	background: #beebff;
	border-radius: 2px;
	box-shadow: inset 0 0 1px #999999;
  }
  .jstree-default .jstree-no-icons .jstree-anchor > .jstree-themeicon {
	display: none;
  }
  .jstree-default .jstree-disabled {
	background: transparent;
	color: #666666;
  }
  .jstree-default .jstree-disabled.jstree-hovered {
	background: transparent;
	box-shadow: none;
  }
  .jstree-default .jstree-disabled.jstree-clicked {
	background: #efefef;
  }
  .jstree-default .jstree-disabled > .jstree-icon {
	opacity: 0.8;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'jstree-grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#jstree-grayscale");
	/* Firefox 10+ */
	filter: gray;
	/* IE6-9 */
	-webkit-filter: grayscale(100%);
	/* Chrome 19+ & Safari 6+ */
  }
  .jstree-default .jstree-search {
	font-style: italic;
	color: rgba(48, 48, 48, 0.74);
	font-weight: bold;
  }
  .jstree-default .jstree-no-checkboxes .jstree-checkbox {
	display: none !important;
  }
  .jstree-default.jstree-checkbox-no-clicked .jstree-clicked {
	background: transparent;
	box-shadow: none;
  }
  .jstree-default.jstree-checkbox-no-clicked .jstree-clicked.jstree-hovered {
	background: #e7f4f9;
  }
  .jstree-default.jstree-checkbox-no-clicked > .jstree-wholerow-ul .jstree-wholerow-clicked {
	background: transparent;
  }
  .jstree-default.jstree-checkbox-no-clicked > .jstree-wholerow-ul .jstree-wholerow-clicked.jstree-wholerow-hovered {
	background: #e7f4f9;
  }
  .jstree-default > .jstree-striped {
	min-width: 100%;
	display: inline-block;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAMAAAB/qqA+AAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMNAMM9s3UAAAAXSURBVHjajcEBAQAAAIKg/H/aCQZ70AUBjAATb6YPDgAAAABJRU5ErkJggg==") left top repeat;
  }
  .jstree-default > .jstree-wholerow-ul .jstree-hovered,
  .jstree-default > .jstree-wholerow-ul .jstree-clicked {
	background: transparent;
	box-shadow: none;
	border-radius: 0;
  }
  .jstree-default .jstree-wholerow {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  }
  .jstree-default .jstree-wholerow-hovered {
	background: #e7f4f9;
  }
  .jstree-default .jstree-wholerow-clicked {
	background: #beebff;
	background: -webkit-linear-gradient(top, #beebff 0%, #a8e4ff 100%);
	background: linear-gradient(to bottom, #beebff 0%, #a8e4ff 100%);
  }
  .jstree-default .jstree-node {
	min-height: 24px;
	line-height: 24px;
	margin-left: 24px;
	min-width: 24px;
  }
  .jstree-default .jstree-anchor {
	line-height: 24px;
	height: 24px;
  }
  .jstree-default .jstree-icon {
	width: 33px;
	height: 24px;
	line-height: 24px;
  }
  .jstree-default .jstree-icon:empty {
	width: 33px;
	height: 24px;
	line-height: 24px;
  }
  .jstree-default.jstree-rtl .jstree-node {
	margin-right: 24px;
  }
  .jstree-default .jstree-wholerow {
	height: 24px;
  }
  .jstree-default .jstree-node,
  .jstree-default .jstree-icon {
	background-image: url("32px.png");
  }
  .jstree-default .jstree-node {
	background-position: -292px -4px;
	background-repeat: repeat-y;
  }
  .jstree-default .jstree-last {
	background-image: none;
  }
  .jstree-default .jstree-open > .jstree-ocl {
	background-position: -132px -4px;
  }
  .jstree-default .jstree-closed > .jstree-ocl {
	background-position: -100px -4px;
  }
  .jstree-default .jstree-leaf > .jstree-ocl {
	background-position: -68px -4px;
  }
  .jstree-default .jstree-themeicon {
	background-position: -260px -4px;
  }
  .jstree-default > .jstree-no-dots .jstree-node,
  .jstree-default > .jstree-no-dots .jstree-leaf > .jstree-ocl {
	background: transparent;
  }
  .jstree-default > .jstree-no-dots .jstree-open > .jstree-ocl {
	background-position: -36px -4px;
  }
  .jstree-default > .jstree-no-dots .jstree-closed > .jstree-ocl {
	background-position: -4px -4px;
  }
  .jstree-default .jstree-disabled {
	background: transparent;
  }
  .jstree-default .jstree-disabled.jstree-hovered {
	background: transparent;
  }
  .jstree-default .jstree-disabled.jstree-clicked {
	background: #efefef;
  }
  .jstree-default .jstree-checkbox {
	background-position: -164px -4px;
  }
  .jstree-default .jstree-checkbox:hover {
	background-position: -164px -36px;
  }
  .jstree-default.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox,
  .jstree-default .jstree-checked > .jstree-checkbox {
	background-position: -228px -4px;
  }
  .jstree-default.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox:hover,
  .jstree-default .jstree-checked > .jstree-checkbox:hover {
	background-position: -228px -36px;
  }
  .jstree-default .jstree-anchor > .jstree-undetermined {
	background-position: -196px -4px;
  }
  .jstree-default .jstree-anchor > .jstree-undetermined:hover {
	background-position: -196px -36px;
  }
  .jstree-default .jstree-checkbox-disabled {
	opacity: 0.8;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'jstree-grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#jstree-grayscale");
	/* Firefox 10+ */
	filter: gray;
	/* IE6-9 */
	-webkit-filter: grayscale(100%);
	/* Chrome 19+ & Safari 6+ */
  }
  .jstree-default > .jstree-striped {
	background-size: auto 48px;
  }
  .jstree-default.jstree-rtl .jstree-node {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAACAQMAAAB49I5GAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMOBgAAGAAJMwQHdQAAAABJRU5ErkJggg==");
	background-position: 100% 1px;
	background-repeat: repeat-y;
  }
  .jstree-default.jstree-rtl .jstree-last {
	background-image: none;
  }
  .jstree-default.jstree-rtl .jstree-open > .jstree-ocl {
	background-position: -132px -36px;
  }
  .jstree-default.jstree-rtl .jstree-closed > .jstree-ocl {
	background-position: -100px -36px;
  }
  .jstree-default.jstree-rtl .jstree-leaf > .jstree-ocl {
	background-position: -68px -36px;
  }
  .jstree-default.jstree-rtl > .jstree-no-dots .jstree-node,
  .jstree-default.jstree-rtl > .jstree-no-dots .jstree-leaf > .jstree-ocl {
	background: transparent;
  }
  .jstree-default.jstree-rtl > .jstree-no-dots .jstree-open > .jstree-ocl {
	background-position: -36px -36px;
  }
  .jstree-default.jstree-rtl > .jstree-no-dots .jstree-closed > .jstree-ocl {
	background-position: -4px -36px;
  }
  .jstree-default .jstree-themeicon-custom {
	background-color: transparent;
	background-image: none;
	background-position: 0 0;
  }
  .jstree-default > .jstree-container-ul .jstree-loading > .jstree-ocl {
	background: url("throbber.gif") center center no-repeat;
  }
  .jstree-default .jstree-file {
	background: url("32px.png") -100px -68px no-repeat;
  }
  .jstree-default .jstree-folder {
	background: url("32px.png") -260px -4px no-repeat;
  }
  .jstree-default > .jstree-container-ul > .jstree-node {
	margin-left: 0;
	margin-right: 0;
  }
  #jstree-dnd.jstree-default {
	line-height: 24px;
	padding: 0 4px;
  }
  #jstree-dnd.jstree-default .jstree-ok,
  #jstree-dnd.jstree-default .jstree-er {
	background-image: url("32px.png");
	background-repeat: no-repeat;
	background-color: transparent;
  }
  #jstree-dnd.jstree-default i {
	background: transparent;
	width: 24px;
	height: 24px;
	line-height: 24px;
  }
  #jstree-dnd.jstree-default .jstree-ok {
	background-position: -4px -68px;
  }
  #jstree-dnd.jstree-default .jstree-er {
	background-position: -36px -68px;
  }
  .jstree-default .jstree-ellipsis {
	overflow: hidden;
  }
  .jstree-default .jstree-ellipsis .jstree-anchor {
	width: calc(100% - 24px + 5px);
	text-overflow: ellipsis;
	overflow: hidden;
  }
  .jstree-default.jstree-rtl .jstree-node {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAACAQMAAAB49I5GAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMOBgAAGAAJMwQHdQAAAABJRU5ErkJggg==");
  }
  .jstree-default.jstree-rtl .jstree-last {
	background-image: none;
  }
  .jstree-default-small .jstree-node {
	min-height: 18px;
	line-height: 18px;
	margin-left: 18px;
	min-width: 18px;
  }
  .jstree-default-small .jstree-anchor {
	line-height: 18px;
	height: 18px;
  }
  .jstree-default-small .jstree-icon {
	width: 18px;
	height: 18px;
	line-height: 18px;
  }
  .jstree-default-small .jstree-icon:empty {
	width: 18px;
	height: 18px;
	line-height: 18px;
  }
  .jstree-default-small.jstree-rtl .jstree-node {
	margin-right: 18px;
  }
  .jstree-default-small .jstree-wholerow {
	height: 18px;
  }
  .jstree-default-small .jstree-node,
  .jstree-default-small .jstree-icon {
	background-image: url("32px.png");
  }
  .jstree-default-small .jstree-node {
	background-position: -295px -7px;
	background-repeat: repeat-y;
  }
  .jstree-default-small .jstree-last {
	background-image: none;
  }
  .jstree-default-small .jstree-open > .jstree-ocl {
	background-position: -135px -7px;
  }
  .jstree-default-small .jstree-closed > .jstree-ocl {
	background-position: -103px -7px;
  }
  .jstree-default-small .jstree-leaf > .jstree-ocl {
	background-position: -71px -7px;
  }
  .jstree-default-small .jstree-themeicon {
	background-position: -263px -7px;
  }
  .jstree-default-small > .jstree-no-dots .jstree-node,
  .jstree-default-small > .jstree-no-dots .jstree-leaf > .jstree-ocl {
	background: transparent;
  }
  .jstree-default-small > .jstree-no-dots .jstree-open > .jstree-ocl {
	background-position: -39px -7px;
  }
  .jstree-default-small > .jstree-no-dots .jstree-closed > .jstree-ocl {
	background-position: -7px -7px;
  }
  .jstree-default-small .jstree-disabled {
	background: transparent;
  }
  .jstree-default-small .jstree-disabled.jstree-hovered {
	background: transparent;
  }
  .jstree-default-small .jstree-disabled.jstree-clicked {
	background: #efefef;
  }
  .jstree-default-small .jstree-checkbox {
	background-position: -167px -7px;
  }
  .jstree-default-small .jstree-checkbox:hover {
	background-position: -167px -39px;
  }
  .jstree-default-small.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox,
  .jstree-default-small .jstree-checked > .jstree-checkbox {
	background-position: -231px -7px;
  }
  .jstree-default-small.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox:hover,
  .jstree-default-small .jstree-checked > .jstree-checkbox:hover {
	background-position: -231px -39px;
  }
  .jstree-default-small .jstree-anchor > .jstree-undetermined {
	background-position: -199px -7px;
  }
  .jstree-default-small .jstree-anchor > .jstree-undetermined:hover {
	background-position: -199px -39px;
  }
  .jstree-default-small .jstree-checkbox-disabled {
	opacity: 0.8;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'jstree-grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#jstree-grayscale");
	/* Firefox 10+ */
	filter: gray;
	/* IE6-9 */
	-webkit-filter: grayscale(100%);
	/* Chrome 19+ & Safari 6+ */
  }
  .jstree-default-small > .jstree-striped {
	background-size: auto 36px;
  }
  .jstree-default-small.jstree-rtl .jstree-node {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAACAQMAAAB49I5GAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMOBgAAGAAJMwQHdQAAAABJRU5ErkJggg==");
	background-position: 100% 1px;
	background-repeat: repeat-y;
  }
  .jstree-default-small.jstree-rtl .jstree-last {
	background-image: none;
  }
  .jstree-default-small.jstree-rtl .jstree-open > .jstree-ocl {
	background-position: -135px -39px;
  }
  .jstree-default-small.jstree-rtl .jstree-closed > .jstree-ocl {
	background-position: -103px -39px;
  }
  .jstree-default-small.jstree-rtl .jstree-leaf > .jstree-ocl {
	background-position: -71px -39px;
  }
  .jstree-default-small.jstree-rtl > .jstree-no-dots .jstree-node,
  .jstree-default-small.jstree-rtl > .jstree-no-dots .jstree-leaf > .jstree-ocl {
	background: transparent;
  }
  .jstree-default-small.jstree-rtl > .jstree-no-dots .jstree-open > .jstree-ocl {
	background-position: -39px -39px;
  }
  .jstree-default-small.jstree-rtl > .jstree-no-dots .jstree-closed > .jstree-ocl {
	background-position: -7px -39px;
  }
  .jstree-default-small .jstree-themeicon-custom {
	background-color: transparent;
	background-image: none;
	background-position: 0 0;
  }
  .jstree-default-small > .jstree-container-ul .jstree-loading > .jstree-ocl {
	background: url("throbber.gif") center center no-repeat;
  }
  .jstree-default-small .jstree-file {
	background: url("32px.png") -103px -71px no-repeat;
  }
  .jstree-default-small .jstree-folder {
	background: url("32px.png") -263px -7px no-repeat;
  }
  .jstree-default-small > .jstree-container-ul > .jstree-node {
	margin-left: 0;
	margin-right: 0;
  }
  #jstree-dnd.jstree-default-small {
	line-height: 18px;
	padding: 0 4px;
  }
  #jstree-dnd.jstree-default-small .jstree-ok,
  #jstree-dnd.jstree-default-small .jstree-er {
	background-image: url("32px.png");
	background-repeat: no-repeat;
	background-color: transparent;
  }
  #jstree-dnd.jstree-default-small i {
	background: transparent;
	width: 18px;
	height: 18px;
	line-height: 18px;
  }
  #jstree-dnd.jstree-default-small .jstree-ok {
	background-position: -7px -71px;
  }
  #jstree-dnd.jstree-default-small .jstree-er {
	background-position: -39px -71px;
  }
  .jstree-default-small .jstree-ellipsis {
	overflow: hidden;
  }
  .jstree-default-small .jstree-ellipsis .jstree-anchor {
	width: calc(100% - 18px + 5px);
	text-overflow: ellipsis;
	overflow: hidden;
  }
  .jstree-default-small.jstree-rtl .jstree-node {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAACAQMAAABv1h6PAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMHBgAAiABBI4gz9AAAAABJRU5ErkJggg==");
  }
  .jstree-default-small.jstree-rtl .jstree-last {
	background-image: none;
  }
  .jstree-default-large .jstree-node {
	min-height: 32px;
	line-height: 32px;
	margin-left: 32px;
	min-width: 32px;
  }
  .jstree-default-large .jstree-anchor {
	line-height: 32px;
	height: 32px;
  }
  .jstree-default-large .jstree-icon {
	width: 32px;
	height: 32px;
	line-height: 32px;
  }
  .jstree-default-large .jstree-icon:empty {
	width: 32px;
	height: 32px;
	line-height: 32px;
  }
  .jstree-default-large.jstree-rtl .jstree-node {
	margin-right: 32px;
  }
  .jstree-default-large .jstree-wholerow {
	height: 32px;
  }
  .jstree-default-large .jstree-node,
  .jstree-default-large .jstree-icon {
	background-image: url("32px.png");
  }
  .jstree-default-large .jstree-node {
	background-position: -288px 0px;
	background-repeat: repeat-y;
  }
  .jstree-default-large .jstree-last {
	background-image: none;
  }
  .jstree-default-large .jstree-open > .jstree-ocl {
	background-position: -128px 0px;
  }
  .jstree-default-large .jstree-closed > .jstree-ocl {
	background-position: -96px 0px;
  }
  .jstree-default-large .jstree-leaf > .jstree-ocl {
	background-position: -64px 0px;
  }
  .jstree-default-large .jstree-themeicon {
	background-position: -256px 0px;
  }
  .jstree-default-large > .jstree-no-dots .jstree-node,
  .jstree-default-large > .jstree-no-dots .jstree-leaf > .jstree-ocl {
	background: transparent;
  }
  .jstree-default-large > .jstree-no-dots .jstree-open > .jstree-ocl {
	background-position: -32px 0px;
  }
  .jstree-default-large > .jstree-no-dots .jstree-closed > .jstree-ocl {
	background-position: 0px 0px;
  }
  .jstree-default-large .jstree-disabled {
	background: transparent;
  }
  .jstree-default-large .jstree-disabled.jstree-hovered {
	background: transparent;
  }
  .jstree-default-large .jstree-disabled.jstree-clicked {
	background: #efefef;
  }
  .jstree-default-large .jstree-checkbox {
	background-position: -160px 0px;
  }
  .jstree-default-large .jstree-checkbox:hover {
	background-position: -160px -32px;
  }
  .jstree-default-large.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox,
  .jstree-default-large .jstree-checked > .jstree-checkbox {
	background-position: -224px 0px;
  }
  .jstree-default-large.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox:hover,
  .jstree-default-large .jstree-checked > .jstree-checkbox:hover {
	background-position: -224px -32px;
  }
  .jstree-default-large .jstree-anchor > .jstree-undetermined {
	background-position: -192px 0px;
  }
  .jstree-default-large .jstree-anchor > .jstree-undetermined:hover {
	background-position: -192px -32px;
  }
  .jstree-default-large .jstree-checkbox-disabled {
	opacity: 0.8;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'jstree-grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#jstree-grayscale");
	/* Firefox 10+ */
	filter: gray;
	/* IE6-9 */
	-webkit-filter: grayscale(100%);
	/* Chrome 19+ & Safari 6+ */
  }
  .jstree-default-large > .jstree-striped {
	background-size: auto 64px;
  }
  .jstree-default-large.jstree-rtl .jstree-node {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAACAQMAAAB49I5GAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMOBgAAGAAJMwQHdQAAAABJRU5ErkJggg==");
	background-position: 100% 1px;
	background-repeat: repeat-y;
  }
  .jstree-default-large.jstree-rtl .jstree-last {
	background-image: none;
  }
  .jstree-default-large.jstree-rtl .jstree-open > .jstree-ocl {
	background-position: -128px -32px;
  }
  .jstree-default-large.jstree-rtl .jstree-closed > .jstree-ocl {
	background-position: -96px -32px;
  }
  .jstree-default-large.jstree-rtl .jstree-leaf > .jstree-ocl {
	background-position: -64px -32px;
  }
  .jstree-default-large.jstree-rtl > .jstree-no-dots .jstree-node,
  .jstree-default-large.jstree-rtl > .jstree-no-dots .jstree-leaf > .jstree-ocl {
	background: transparent;
  }
  .jstree-default-large.jstree-rtl > .jstree-no-dots .jstree-open > .jstree-ocl {
	background-position: -32px -32px;
  }
  .jstree-default-large.jstree-rtl > .jstree-no-dots .jstree-closed > .jstree-ocl {
	background-position: 0px -32px;
  }
  .jstree-default-large .jstree-themeicon-custom {
	background-color: transparent;
	background-image: none;
	background-position: 0 0;
  }
  .jstree-default-large > .jstree-container-ul .jstree-loading > .jstree-ocl {
	background: url("throbber.gif") center center no-repeat;
  }
  .jstree-default-large .jstree-file {
	background: url("32px.png") -96px -64px no-repeat;
  }
  .jstree-default-large .jstree-folder {
	background: url("32px.png") -256px 0px no-repeat;
  }
  .jstree-default-large > .jstree-container-ul > .jstree-node {
	margin-left: 0;
	margin-right: 0;
  }
  #jstree-dnd.jstree-default-large {
	line-height: 32px;
	padding: 0 4px;
  }
  #jstree-dnd.jstree-default-large .jstree-ok,
  #jstree-dnd.jstree-default-large .jstree-er {
	background-image: url("32px.png");
	background-repeat: no-repeat;
	background-color: transparent;
  }
  #jstree-dnd.jstree-default-large i {
	background: transparent;
	width: 32px;
	height: 32px;
	line-height: 32px;
  }
  #jstree-dnd.jstree-default-large .jstree-ok {
	background-position: 0px -64px;
  }
  #jstree-dnd.jstree-default-large .jstree-er {
	background-position: -32px -64px;
  }
  .jstree-default-large .jstree-ellipsis {
	overflow: hidden;
  }
  .jstree-default-large .jstree-ellipsis .jstree-anchor {
	width: calc(100% - 32px + 5px);
	text-overflow: ellipsis;
	overflow: hidden;
  }
  .jstree-default-large.jstree-rtl .jstree-node {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAACAQMAAAAD0EyKAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjgIIGBgABCgCBvVLXcAAAAABJRU5ErkJggg==");
  }
  .jstree-default-large.jstree-rtl .jstree-last {
	background-image: none;
  }
  @media (max-width: 768px) {
	#jstree-dnd.jstree-dnd-responsive {
	  line-height: 40px;
	  font-weight: bold;
	  font-size: 1.1em;
	  text-shadow: 1px 1px white;
	}
	#jstree-dnd.jstree-dnd-responsive > i {
	  background: transparent;
	  width: 40px;
	  height: 40px;
	}
	#jstree-dnd.jstree-dnd-responsive > .jstree-ok {
	  background-image: url("40px.png");
	  background-position: 0 -200px;
	  background-size: 120px 240px;
	}
	#jstree-dnd.jstree-dnd-responsive > .jstree-er {
	  background-image: url("40px.png");
	  background-position: -40px -200px;
	  background-size: 120px 240px;
	}
	#jstree-marker.jstree-dnd-responsive {
	  border-left-width: 10px;
	  border-top-width: 10px;
	  border-bottom-width: 10px;
	  margin-top: -10px;
	}
  }
  @media (max-width: 768px) {
	.jstree-default-responsive {
	  /*
	  .jstree-open > .jstree-ocl,
	  .jstree-closed > .jstree-ocl { border-radius:20px; background-color:white; }
	  */
	}
	.jstree-default-responsive .jstree-icon {
	  background-image: url("40px.png");
	}
	.jstree-default-responsive .jstree-node,
	.jstree-default-responsive .jstree-leaf > .jstree-ocl {
	  background: transparent;
	}
	.jstree-default-responsive .jstree-node {
	  min-height: 40px;
	  line-height: 40px;
	  margin-left: 40px;
	  min-width: 40px;
	  white-space: nowrap;
	}
	.jstree-default-responsive .jstree-anchor {
	  line-height: 40px;
	  height: 40px;
	}
	.jstree-default-responsive .jstree-icon,
	.jstree-default-responsive .jstree-icon:empty {
	  width: 40px;
	  height: 40px;
	  line-height: 40px;
	}
	.jstree-default-responsive > .jstree-container-ul > .jstree-node {
	  margin-left: 0;
	}
	.jstree-default-responsive.jstree-rtl .jstree-node {
	  margin-left: 0;
	  margin-right: 40px;
	  background: transparent;
	}
	.jstree-default-responsive.jstree-rtl .jstree-container-ul > .jstree-node {
	  margin-right: 0;
	}
	.jstree-default-responsive .jstree-ocl,
	.jstree-default-responsive .jstree-themeicon,
	.jstree-default-responsive .jstree-checkbox {
	  background-size: 120px 240px;
	}
	.jstree-default-responsive .jstree-leaf > .jstree-ocl,
	.jstree-default-responsive.jstree-rtl .jstree-leaf > .jstree-ocl {
	  background: transparent;
	}
	.jstree-default-responsive .jstree-open > .jstree-ocl {
	  background-position: 0 0 !important;
	}
	.jstree-default-responsive .jstree-closed > .jstree-ocl {
	  background-position: 0 -40px !important;
	}
	.jstree-default-responsive.jstree-rtl .jstree-closed > .jstree-ocl {
	  background-position: -40px 0 !important;
	}
	.jstree-default-responsive .jstree-themeicon {
	  background-position: -40px -40px;
	}
	.jstree-default-responsive .jstree-checkbox,
	.jstree-default-responsive .jstree-checkbox:hover {
	  background-position: -40px -80px;
	}
	.jstree-default-responsive.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox,
	.jstree-default-responsive.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox:hover,
	.jstree-default-responsive .jstree-checked > .jstree-checkbox,
	.jstree-default-responsive .jstree-checked > .jstree-checkbox:hover {
	  background-position: 0 -80px;
	}
	.jstree-default-responsive .jstree-anchor > .jstree-undetermined,
	.jstree-default-responsive .jstree-anchor > .jstree-undetermined:hover {
	  background-position: 0 -120px;
	}
	.jstree-default-responsive .jstree-anchor {
	  font-weight: bold;
	  font-size: 1.1em;
	  text-shadow: 1px 1px white;
	}
	.jstree-default-responsive > .jstree-striped {
	  background: transparent;
	}
	.jstree-default-responsive .jstree-wholerow {
	  border-top: 1px solid rgba(255, 255, 255, 0.7);
	  border-bottom: 1px solid rgba(64, 64, 64, 0.2);
	  background: #ebebeb;
	  height: 40px;
	}
	.jstree-default-responsive .jstree-wholerow-hovered {
	  background: #e7f4f9;
	}
	.jstree-default-responsive .jstree-wholerow-clicked {
	  background: #beebff;
	}
	.jstree-default-responsive .jstree-children .jstree-last > .jstree-wholerow {
	  box-shadow: inset 0 -6px 3px -5px #666666;
	}
	.jstree-default-responsive .jstree-children .jstree-open > .jstree-wholerow {
	  box-shadow: inset 0 6px 3px -5px #666666;
	  border-top: 0;
	}
	.jstree-default-responsive .jstree-children .jstree-open + .jstree-open {
	  box-shadow: none;
	}
	.jstree-default-responsive .jstree-node,
	.jstree-default-responsive .jstree-icon,
	.jstree-default-responsive .jstree-node > .jstree-ocl,
	.jstree-default-responsive .jstree-themeicon,
	.jstree-default-responsive .jstree-checkbox {
	  background-image: url("40px.png");
	  background-size: 120px 240px;
	}
	.jstree-default-responsive .jstree-node {
	  background-position: -80px 0;
	  background-repeat: repeat-y;
	}
	.jstree-default-responsive .jstree-last {
	  background-image: none;
	}
	.jstree-default-responsive .jstree-leaf > .jstree-ocl {
	  background-position: -40px -120px;
	}
	.jstree-default-responsive .jstree-last > .jstree-ocl {
	  background-position: -40px -160px;
	}
	.jstree-default-responsive .jstree-themeicon-custom {
	  background-color: transparent;
	  background-image: none;
	  background-position: 0 0;
	}
	.jstree-default-responsive .jstree-file {
	  background: url("40px.png") 0 -160px no-repeat;
	  background-size: 120px 240px;
	}
	.jstree-default-responsive .jstree-folder {
	  background: url("40px.png") -40px -40px no-repeat;
	  background-size: 120px 240px;
	}
	.jstree-default-responsive > .jstree-container-ul > .jstree-node {
	  margin-left: 0;
	  margin-right: 0;
	}
  }
  
  .get-api:before {
	content: 'GET';
	color: var(--method-get);
	font-size: 10px;
  }
  
  .post-api:before {
	content: 'POST';
	color: var(--method-post);
	font-size: 10px;
  }
  
  .patch-api:before {
	content: 'PATCH';
	color: var(--method-patch);
	font-size: 10px;
  }
  
  .put-api:before {
	content: 'PUT';
	color: var(--method-put);
	font-size: 10px;
  }
  
  .delete-api:before {
	content: 'DEL';
	color: var(--method-delete);
	font-size: 10px;
  }
  
  .options-api:before {
	content: 'OPT';
	color: var(--method-options);
	font-size: 10px;
  }
  
  .head-api:before {
	content: 'HEAD';
	color: var(--method-head);
	font-size: 10px;
  }
  
  .main-color {
	color: #0190fe;
  }

  .modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.close {
	color: #000;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.modal-footer {
	padding: 10px;
	text-align: right;
}

.float-left {
	float: left;
}
.btn.okay-btn,
.btn.next-btn{
	padding: 4px 20px;
	background-color: #0190fe !important;
	color: white;
	border: none;
	cursor: pointer;
}
.btn.back-btn,
.btn.validate-btn{
	padding: 4px 20px;
	background-color: #eee !important;
	color: black;
	border: none;
	cursor: pointer;
}

.cust-modal-wrapper .modal-header{
	padding: 10px 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: move;
}
.main-wrapper{
	height: 560px;
	max-height: 560px;
	overflow: auto;
}
.filter-body-wrapper{
	padding: 0 16px;
}
.builder-wrapper {
	max-height: 300px;
	overflow: auto;
	margin-bottom: 8px;
}
.filter-body-wrapper #btn-get-query{
	background-color: #0190fe !important;
    margin-bottom: 8px;
    color: white;
}
#output{
	max-height: 300px;
	height: 100%;
	overflow: auto;
	position: relative;
}

#validateOutput,
#formatter-validateOutput{
	max-height: 300px;
	height: 100%;
	overflow: auto;
	position: relative;
}
.output-wrapper,
.validate-wrapper{
	position: relative;
}

.copy-btn,
.validate-copy-btn,
.formatter-validate-copy-btn {
	display: none;
	position: absolute;
    top: 15%;
    right: 2%;
	height: 40px;
	width: 40px;
	padding: 8px;
	background: transparent !important;
	border: none !important;
	font-size: 20px !important;
}

.validate-copy-btn,
.formatter-validate-copy-btn {
	top: 2% !important;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
	z-index: 9999;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#filter-select-source-wrapper,
#formatter-select-source-wrapper {
	display: none;
	align-items: center;
    justify-content: flex-start;
	padding: 10px 16px;
	span {
		min-width: 150px;
		font-weight: bold;
	}
	select {
		width: 200px;
    	background: white;
	}
}

.modal-content {
	background-color: #fefefe;
	margin: 5% auto;
	max-width: 65%;
	width: 100%;
	border-radius: 10px;
}
.form-control:focus{
	box-shadow: none;
}
.table-wrapper .form-check-input{
	margin-top: 8px;
}
.modal-body{
	padding: 0;
}

.tabs-wrapper{
	padding: 16px;
	border-bottom: 1px solid #e5e5e5;
}
.tabs-wrapper .btn-group{
	width: 100%;
}
.tabs-wrapper .btn-group .btn{
	width: calc(100% / 3);
	background: transparent;
	border: 1px solid #d8d8d8;
}
.tabs-wrapper .btn-group .btn.active {
	background-color: #0090FF;
    color: #fff;
}
.tabs-wrapper .btn-group .btn:focus{
	outline: none;
	box-shadow: none;
}
.table-wrapper{
	padding: 15px;
}
.table-scrollable {
	height: 560px;
	overflow-y: auto;
  }
.table-wrapper table tr th{
	background-color: #c3c3ff26;
}
.table-wrapper .table>thead>tr>th,
.table-wrapper .table>tbody>tr>td{
	border-bottom: 1px solid #ddd;
}
.json-data-textarea-wrapper{
	padding: 15px;
	display: none;
}
.json-data-textarea-wrapper textarea {
	height: 530px;
	max-height: 530px;
	width: 100%;
	outline: none;
	max-width: 100%;
}

.header-data-wrapper {
	display: none;
}

.rule-filter-container select,
.rule-operator-container select,
.rule-value-container select ,
.rule-value2-container select {
	max-width: 250px;
}

.rule-value2-container {
	display:  none;
}

.btn-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn-xs.btn-success[data-add="rule"] {
	margin-right: 6px;
}

.btn-xs.btn-success[data-add="group"] {
	margin-right: 6px;
}

.btn-group.group-conditions
.btn-primary {
	background-color : grey;
}

.btn-group.group-conditions
.btn-primary.active {
	background-color : #0190fe;
}

#deliverable_search {
	margin-bottom: 10px;
	width: 50%;
    margin-left: 10px;
}

.text-header-wrapper{
    display: flex;
    align-items: center;
    gap: 1rem;
}
#from-api-path{
    display: none;
}
#from-api-path::before{
    content: '-';
    padding-right: 5px;
}
.text-header-wrapper h5{
    margin: 0;
}
.modal-header h5 {
	margin: 0;
}

.mxTooltip {
	display: none;
	z-index: -1;
}

.rules-group-wrapper.rules-group-container{
	padding: 10px;
    padding-bottom: 6px;
    border: 1px solid #dcc896;
    background: rgba(250, 240, 210, .5);
	margin: 8px;
	border-radius: 8px;
	max-height: 500px;
	overflow: auto;
}
.rules-group-header{
	margin-bottom: 10px;
}
.rule-wrapper{
	display: flex;
	align-items: center;
	justify-content: start;
}
.select-rule{
	width: 100%;
	max-width: 250px;
	margin-right: 10px;
}
.rules-group-header .btn-xs.btn-success[data-add="rule"]{
	margin-right: 0px;
}
.btn-success {
	background: #449d44 !important;
	margin-left: auto;
    display: block;
	margin-right: 0 !important;
}
.rule-container{
	position: relative;
    margin: 4px 0;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #eee;
    background: rgba(255, 255, 255, .9);
}
.formatter-rule-container{
	position: relative;
    margin: 4px 0;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #eee;
    background: rgba(255, 255, 255, .9);
}
.btn-danger{
	float: right;
	background: #d9534f !important;
}
.rule-container .form-control{
	background: #ffffff !important;
}
.formatter-rule-container .form-control{
	background: #ffffff !important;
}
.rule-dropdown-container{
	display: none;
	max-width: 125px;
	width: 100%;
	margin-right: 10px;
}
.ignore-case{
	display: flex;
align-items: center;
gap: 8px;
padding: 8px 0;
}
.ignore-case label {
	margin-bottom: 0 !important;
}
.ignore-case input[type=checkbox]{
	margin: 0 !important;
}